body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color:#CBCFD8;
}

h1 {
    color: #4B4A58;
    font-style: italic;
    font-size: 40px;
}

p {
   line-height: 1.5
}

header {
    text-align: center
}

.omne img {
  width: 260px;
  border-radius: 10px;
  float: right;
  border: 3px solid #4B4A58;
  margin-left: 5%;
  margin-bottom: 5%;
}

.odkazytab button {
border: 3px solid #4B4A58;
border-radius: 10px;
color: 4B4A58;
margin-inline: 10px;
padding-block: 10px;
width: 120px;
}

section {
padding: 0 15%;
margin-bottom: 10px;
overflow: auto;
}

footer {
padding: 10px 15%;
background-color: #4B4A58;
margin-top: 10px;
}

