body {
    margin: 0 auto;
    max-width: 60em;
    font-family: 'Trebuchet MS', sans-serif;
    background-color:#CBCFD8;
}

h1 {
    color: #4B4A58;
    font-style: italic;
}

p {
   line-height: 1.5
}

header {
    text-align: center
}

.omne img {
  width: 300px;
  border-radius: 10px;
  float: right;
  border: 2px solid #4B4A58;
}