body {
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Trebuchet MS', sans-serif;
    background-color:#CBCFD8;
}

h1 {
    color: #4B4A58;
    font-style: italic;
}

p {
   line-height: 1.5;
}